# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
target/

# Maven
log/
*.log
*.class
*.jar
*.war
*.ear
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/

# Eclipse (if project shared)
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code (if you switch editors)
.vscode/

# Local environment files
*.env
